---
import Calendar from "../assets/calendar.svg";

interface Props {
  href: string;
  title: string;
  date: string;
  description: string;
}
const { href, title, date, description } = Astro.props;
---

<li>
  <h2 class="mb-2">
    <div>
      <a href={href}>{title}</a>
    </div>
  </h2>
  <div class="flex flex-row h-[1em]">
    <Calendar class="text-secondary" />
    <div class="text-sm font-bold px-2">{date}</div>
  </div>
  <div set:html={description} />
  <a class="text-lg" href={href}>Full Article</a>
</li>
